body > * {/* min-width: 1920px; */ /* overflow-x: hidden; */}
/* ===================================header 시작 */
header {position: fixed; top: 0; left: 0; width: 100%; height: 80px; z-index: 100;  background: #F2F2F2; display: flex; justify-content: space-between; align-items: center; padding: 0 60px;}
header .logo {}
header .logo a {display: block;}
header .logo a img {}
header nav {position: relative; /* width: max-content; */}
header nav .gnb {display: flex;}
header nav .gnb > li {margin-left: 53px; /* position: relative; z-index: 200; */}
header nav .gnb > li:hover a {font-weight: 600; transition: all 0.5s;}
header nav .gnb > li:nth-child(1) {margin: 0;}
header nav .gnb > li a {}
header nav .gnb > li:nth-child(1) a {color: #4285D0; font-weight: 600;}
header nav .gnb > li:nth-child(5) a {color: #D62828; font-weight: 600;}
.sub {display: none;}
header .lnb {display: flex;}
header .lnb li {margin-left: 25px;}
header .lnb li:nth-child(1) {margin: 0;}
/* ************* */
/* =============================서브 공통 배경 위치 */
/* header nav .sub_bg {
  background: #f9f9f9;
  display: block; position: absolute; margin-top: 32px;
  width: 100%; height: 250px;
}
header nav .gnb > li a {
}
header nav .gnb > li .sub {
  position: absolute;
  width: max-content; text-align: center;
  left: 50%; transform: translateX(-50%);
  top: 43px;
}
header nav .gnb > li .sub li {}
header nav .gnb > li .sub li a {
  line-height: 1.7; letter-spacing: -2%;} */ /* sub 메뉴 */
/* =================================== mainVisual 시작 */
main {padding-top: 80px;}/* 헤더 높이 */
main .main {margin-bottom: 170px; width: 100%;}
main .main .swiper-pagination {bottom: 20px;}
main .main .swiper-pagination-bullet {background: #f8f8f8; }
main .main .swiper-pagination-bullet-active {width: 15px; height: 10px; border-radius: 10px;}
main .main ul li a img {}
/* =================================== CONT1 시작 */
main .new {margin-bottom: 170px;}
main .new h2 {font-size: 2.81rem; font-weight: 600; text-align: center; margin-bottom: 30px;}
main .new .category {display: flex; justify-content: center; margin-bottom: 60px;}
main .new .category li {margin-left: 50px;}
main .new .category li:first-child {margin-left: 0;}
main .new .category li a{}
main .new .category li:hover a{color: #D62828;}
main .new .category li a.active {color: #D62828; text-decoration: underline;}
main .new .productList {padding: 0 60px;}
main .new .productList .product {display: none;}
main .new .productList .product.active {display: block;}
main .new .productList .product ul {display: flex;}
main .new .productList .product ul li {margin-left: 20px;}
main .new .productList .product ul li:first-child {margin-left: 0;}
main .new .productList .product ul li a {}
/* =================================== CONT2 시작 */
main .best {margin-bottom: 170px; background: #F2F2F2; padding: 60px 0;}
main .best h2 {font-size: 2.81rem; font-weight: 600; text-align: center; margin-bottom: 30px;}
main .best .category {display: flex; justify-content: center; margin-bottom: 60px;}
main .best .category li {margin-left: 50px;}
main .best .category li:first-child {margin-left: 0;}
main .best .category li a{}
main .best .category li:hover a{color: #D62828;}
main .best .category li a.active {color: #D62828; text-decoration: underline;}
main .best .productList {padding: 0 60px;}
main .best .productList .product {display: none;}
main .best .productList .product.active {display: block;}
main .best .productList .product ul {display: flex;}
main .best .productList .product ul li {margin-left: 20px;}
main .best .productList .product ul li:first-child {margin-left: 0;}
main .best .productList .product ul li a {}
/* =================================== CONT3 시작 */
main .activityWrap {margin-bottom: 170px;}
main .activityWrap h2 {font-size: 2.81rem; font-weight: 600; text-align: center; margin-bottom: 30px;}
main .activityWrap .activity {padding: 0 60px;}
main .activityWrap .activity ul {}
main .activityWrap .activity ul li {position: relative; width: 584px; height: 685px;}
main .activityWrap .activity ul li a {display: block;}
main .activityWrap .activity ul li a p {position: absolute; text-align: center; top: 40%; width: 100%; height: 100%; font-size: 6.5rem; font-weight: bold; color: #fff; letter-spacing: -5px; transition: color 0.8s ease;}
main .activityWrap .activity ul li:hover a p {color: #D62828;}
main .activityWrap .activity ul li a img {width: 100%; height: 100%;}
/* =================================== CONT4 시작 */
main .forYouWrap {padding: 60px; background: #f2f2f2;}
main .forYouWrap h2 {font-size: 2.81rem; font-weight: 600; text-align: center;}
main .forYouWrap > p {text-align: center; margin: 14px 0 30px;}
main .forYouWrap .foryou {display: flex; justify-content: space-between;}
main .forYouWrap .foryou .foryouLeft {width: 736px; margin-right: 20px;}
main .forYouWrap .foryou .foryouLeft ul {}
main .forYouWrap .foryou .foryouLeft ul li {}
main .forYouWrap .foryou .foryouLeft ul li img {}
main .forYouWrap .swiper-button-prev {color: #C8C8CA; top: 400px;}
main .forYouWrap .swiper-button-next {color: #C8C8CA; top: 400px;}
/* Right */
main .forYouWrap .foryou .foryouRight ul{display: flex; flex-wrap: wrap; justify-content: space-between;}
main .forYouWrap .foryou .foryouRight ul li {width: calc(50% - 10px); box-sizing: border-box; text-align: center;}
main .forYouWrap .foryou .foryouRight ul li a {display: flex; margin-bottom: 20px;}
main .forYouWrap .foryou .foryouRight ul li a :nth-child(3), .foryouRight ul li a :nth-child(4) {margin-bottom: 0}
main .forYouWrap .foryou .foryouRight ul li a div > img {margin-right: 20px;}
main .forYouWrap .foryou .foryouRight ul li a div > .infor {background: tomato;}
/* =================================== CONT5(project) 시작 */
main .project {padding: 0 60px; margin: 170px 0;}
main .project h2 {font-size: 2.81rem; font-weight: 600; text-align: center; margin-bottom: 30px;}
main .project .projectTop {display: flex; justify-content: space-between; margin-bottom: 90px;}
main .project .projectTop .infor { margin-top: 190px; padding-right: 130px;}
main .project .projectTop .infor h3 {font-size: 2.19rem; font-weight: 500; }
main .project .projectTop .infor p {font-size: 1.56rem; line-height: 35px; margin: 70px 0;}
main .project .projectTop .infor button {background-color: #fff; color: #575757; border: 0.5px solid #898989; font-size: 0.88rem; padding: 10px 13px; transition: all 0.8s;}
main .project .projectBottom {display: flex; justify-content: space-between;}
main .project .projectBottom .infor { margin-top: 190px;}
main .project .projectBottom .infor h3 {font-size: 2.19rem; font-weight: 500; }
main .project .projectBottom .infor p {font-size: 1.56rem; line-height: 35px; margin: 70px 0;}
main .project .projectBottom .infor button {background-color: #fff; color: #575757; border: 0.5px solid #898989; font-size: 0.88rem; padding: 10px 13px; transition: all 0.8s;}
main .project .infor button:hover {background-color: #898989; color: #fff;}
/* =================================== CONT6(INSTAGRAM) 시작 */
main .insta {padding:60px; background: #f2f2f2;}
main .insta h2 {font-size: 2.81rem; font-weight: 600; text-align: center;margin-bottom: 30px;}
main .insta ul {display: flex; justify-content: space-between;}
main .insta ul li {position: relative;}
main .insta ul li a {display: block;}
main .insta ul li a img {}
main .insta ul li a .cover {position: absolute; inset: 0; background: rgba(0, 0, 0, 0.5); opacity: 0; transition: all 1s;}
main .insta ul li:hover .cover {opacity: 1;}
/* =================================== FOOTER 시작 */
footer {}
/* ======= footerTop */
footer > ul {display: flex; justify-content: center;}
footer .footerTop {border-top: 1px solid #000; border-bottom: 1px solid #000; padding: 33px 0;}
footer .footerTop li { margin-left: 90px;}
footer .footerTop li a {}
footer .footerTop li:nth-child(1) {margin-left: 0;}
footer .footerTop li:nth-child(1) a{color: #D62828; font-weight: 600;}
/* ======= footerCenter */
footer .footerCenter {display: flex; padding: 60px 210px; justify-content: space-between;}
/* footerCenter > left */
footer .footerCenter .left {}
footer .footerCenter .left h2 {font-weight: 500;}
footer .footerCenter .left p {font-size: 1.25rem; font-weight: 500; margin: 15px 0;}
footer .footerCenter .left .time {color: #909090; font-size: 0.88rem; font-weight: 400; line-height: 22px; margin: 0;}
footer .footerCenter .left .time span {color: #909090; font-size: 0.75rem;}
/* footerCenter > center */
footer .footerCenter .center {}
footer .footerCenter .center .businessKr{margin-bottom: 50px;}
footer .footerCenter .center p {font-weight: 500;}
footer .footerCenter .center p span {font-size: 0.88rem;}
footer .footerCenter .center .email{color: #909090; font-weight: 400; margin-top: 15px;}
/* footerCenter > right */
footer .footerCenter .right {}
footer .footerCenter .right li {margin-bottom: 33px;}
footer .footerCenter .right li:last-child {margin-bottom: 0;}
footer .footerCenter .right li a {font-weight: 500;}
/* ======= footerBottom */
footer .footerBottom {border-top: 1px solid #000; border-bottom: 1px solid #000; padding: 33px 60px; justify-content: space-between;}
footer .footerBottom li {}
/* =================================== 탑버튼 */
body > #topBtn{display: block; z-index: 100; width: 40px; height: 40px; border-radius: 100%; background-color: rgba(0, 0, 0, 0.5); color: #f2f2f2; text-align: center; line-height: 40px; position: fixed; right: 60px; bottom: 30px;}
